@import url("https://fonts.googleapis.com/css2?family=Concert+One&display=swap");

.App {
  text-align: center;
  font-family: "Concert One", cursive;
  background-color: #ffbe0b;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#pomodoro-h1 {
  font-size: 75px;
  text-align: center;
  margin-bottom: 100px;
  margin-top: 100px;
}

.github-link {
  background-image: url("https://assets.stickpng.com/images/5847f98fcef1014c0b5e48c0.png");
  width: 50px;
  height: 50px;
  display: inline-block;
  background-size: 100%;
  filter: invert(13%) sepia(78%) saturate(6194%) hue-rotate(257deg)
    brightness(83%) contrast(116%);
}
.github-link:hover {
  filter: none;
}

@media only screen and (max-width: 768px) {
  #pomodoro-h1 {
    font-size: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
}
