@import url("https://fonts.googleapis.com/css2?family=Concert+One&display=swap");
.App {
  text-align: center;
  font-family: "Concert One", cursive;
  background-color: #ffbe0b;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#pomodoro-h1 {
  font-size: 60px;
  margin-top: 100px;
  margin-bottom: 100px;
}
